// CSS Spacing Variables
$mantine-spacing-xs: 0.625rem;
$mantine-spacing-sm: 0.75rem;
$mantine-spacing-md: 1rem;
$mantine-spacing-lg: 1.25rem;
$mantine-spacing-xl: 2rem;

//Light color scheme only variables
$mantine-color-body: #fff;
$mantine-color-blue-filled: #228ae5;
$mantine-color-dark-5: #3b3b3b;
$mantine-color-gray-1: #f1f3f5;





//font family
$mantine-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;